
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" class="border-botton">
  <h1><i class="fas fa-film"></i></h1>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'New List', new_list_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1485846234645-a62644f84728?ixid=MnwxMjA3fDB8MHxwaG90[…]fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=859&q=80');">
  <div class="container text-center">
  <h1>text test</h1>
     <p>
    <span id="banner-typed-text"></span>
  </p>
  </div>
</div>


<div class="container">

    <h2>My list</h2>
    <p><%= link_to 'Add a new List', new_list_path %></p>
    <div class="row">
      <div class="card" style="width: 20rem;">
        <% @lists.each do |list| %>
          <div class="col-12 col-sm-6">
            <div class="card" style="width: 20rem;">
          <%= link_to list.name, list_path(list) %>
              <div class="card-body">
              </div>
        <% end %>
          </div>
      </div>
    </div>

</div>
